
<div class="loading-{{loading}} assets-{{assets.length}}" ng-app="bulkAssetApp" ng-controller="ControllerMain">
    <div id="logo" class="sidebar">
      <img class="squiz-img" src="http://www.squiz.net/__data/assets/image/0014/356/logo-sm.png"/>
      <h1 class="bat-title">B<span>ulk</span> A<span>sset</span> T<span>ool</span></h1>
    </div>

    <div id="lhc" class="sidebar showing-{{(assets.length > 0)}}" ng-click="cpanel.showing = false">
      
      <div id="display-fields" class="form-inline">
        <h4>Display fields</h4>
        <div class="form-group">
          <select class="form-control" size="10" ng-model="fieldsDisplay" ng-options="field | metadataFieldNameFormat:true for field in fields" multiple="multiple"></select>
        </div>
      </div><!-- end #display-fields -->

      <div id="dates" class="form-inline">
        <h4>Dates</h4>
        <div class="form-group">
          <input type="checkbox" ng-model="prettyDates"> Format dates
          <span class="showing-{{prettyDates}}" style="display:block;">
            <input type="checkbox" ng-model="prettyDatesManual"> Manual format <br>
            <span class="showing-{{prettyDatesManual}}" style="display:block;"><input class="form-control" type="text" ng-model="prettyDateFormat" placeholder="e.g. Do MMM 'YY"/></span>
          </span>
        </div>
      </div><!-- end #dates -->
    </div><!-- end #lhc -->


    <div id="rhc" class="sidebar showing-{{(assets.length > 0)}}" ng-click="cpanel.showing = false">
      <div id="search" class="form-inline">
        <h4>Search <span class="showing-{{searchTxt != ''}}">({{searchedAssets.length}} items)</span></h4>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="searchTxt" ng-change="searchChanged()" />
          <a href="#" class="btn btn-default btn-sm" ng-click="searchBtnClear()">x</a>
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="searchField" ng-change="searchFieldChanged()">
            <option value="$">All fields</option>
            <option ng-repeat="field in fields" value="{{field.id}}">{{field.name}}</option>
          </select>
        </div>
      </div><!-- end #search -->

      <div id="sorting" class="form-inline">
        <h4>Sorting</h4>
        <div class="form-group">
          <select class="form-control" ng-model="sort.fields[0]" ng-change="sort.changed(0)" ng-options="f.name for f in fields"></select>
          <input type="checkbox" title="Descending checkbox" ng-model="sort.directions[0]" ng-change="sort.changed(0)"/>
          <a href="#" class="btn btn-default btn-sm" ng-click="sort.remove(0)" ng-disabled="sort.fields.length < 2">x</a> 
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="sort.fields[1]" ng-change="sort.changed(1)" ng-options="f.name for f in fields" ng-disabled="sort.fields.length < 1"></select>
          <input type="checkbox" title="Descending checkbox" ng-model="sort.directions[1]" ng-change="sort.changed(1)" ng-disabled="sort.fields.length < 2"/>
          <a href="#" class="btn btn-default btn-sm" ng-click="sort.remove(1)" ng-disabled="sort.fields.length < 2">x</a> 
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="sort.fields[2]" ng-change="sort.changed(2)" ng-options="f.name for f in fields" ng-disabled="sort.fields.length < 2"></select>
          <input type="checkbox" title="Descending checkbox" ng-model="sort.directions[2]" ng-change="sort.changed(2)" ng-disabled="sort.fields.length < 3"/>
          <a href="#" class="btn btn-default btn-sm" ng-click="sort.remove(2)" ng-disabled="sort.fields.length < 3">x</a> 
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="sort.fields[3]" ng-change="sort.changed(3)" ng-options="f.name for f in fields" ng-disabled="sort.fields.length < 3"></select>
          <input type="checkbox" title="Descending checkbox" ng-model="sort.directions[3]" ng-change="sort.changed(3)" ng-disabled="sort.fields.length < 4"/>
          <a href="#" class="btn btn-default btn-sm" ng-click="sort.remove(3)" ng-disabled="sort.fields.length < 4">x</a> 
        </div>
      </div><!-- end #sorting -->     
    </div><!-- end #rhc -->




<!-- 
********************************************************************
************************* CONTENT ********************************
********************************************************************
 -->


    <div id="wrapper" ng-click="cpanel.showing = false">

        <div id="asset-selection">
          <div id="content" class="showing-{{(assets.length > 0)}}">
              <div class="top-tools">
                <div class="left">
                  <span class="bold">{{assets.length}} assets</span>
                </div>
                <div class="right">
                  With selected (<span class="bold">{{assetsSelected.length}} assets</span>): <a href="#" ng-click="removeSelectedAssetsFromList()">Remove</a> | <a title="Reload data for selected assets" href="#" ng-click="refreshSelectedAssets()">Refresh</a> | <a title="Reverse selection in table" href="#" ng-click="reverseSelectedAssets()">Reverse</a>
                </div>
              </div>

              <table id="asset-table" class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                  <th class="select"><input type="checkbox" ng-model="selectAll" ng-change="selectAllChanged()"></th>
                  <th class="table-column-type-icon"></th>
                  <th class="table-column-status-icon"></th>
                  <th class="table-column-id sorting-{{(sort.fields.indexOf(fields[0]) != -1)}} sort-reverse-{{sort.directions[sort.fields.indexOf(fields[0])]}}">
                    <a href="" title="Sort by id" ng-click="sort.newSortBy(fields[0])">Id</a>
                    <div class="sort-triangle"></div>
                  </th>
                  <th class="table-column-{{field}} sorting-{{(sort.fields.indexOf(field) != -1)}} sort-reverse-{{sort.directions[sort.fields.indexOf(field)]}}" ng-repeat="field in fieldsDisplay | orderBy:field">
                    <a href="" title="Sort by {{field}}" ng-click="sort.newSortBy(field)">{{field | metadataFieldNameFormat}}</a>
                    <div class="sort-triangle"></div>
                  </th>
                  <th class="remove">Remove</th>
                </thead>
                <tbody>
                  <tr ng-repeat="asset in assets | orderBy:sort.array | filter:search" class="selected-{{asset.selected}}">
                    <td class="select">
                      <input id="asset-{{asset.id}}" type="checkbox" ng-change="selectChanged()" ng-model="asset.selected">
                    </td>
                    <td>
                      <label for="asset-{{asset.id}}"><img width="16" height="16" class="sq-icon" title="{{asset.type_code}}" alt="" src="{{siteRoot}}/__data/asset_types/{{asset.type_code}}/icon.png"></label>
                    </td>
                    <td>
                      <label for="asset-{{asset.id}}"><img width="10" height="10" alt="{{asset.status}}" title="{{asset.status}}" align="absmiddle" style="background-color: #{{asset.status | statusColor:matrixAssetStatuses}}"></label>
                    </td>
                    <td class="id"><a title="Preview asset {{asset.id}} in new tab" href="{{asset.web_path}}" target="_blank">{{asset.id}}</a></td>
                    
                    <td ng-repeat="field in fieldsDisplay"> <label for="asset-{{asset.id}}">{{asset[field.id] | prettifyDate:prettyDateFormat:prettyDates:prettyDatesManual}}</label></td>

                    <td class="remove"><button type="button" class="btn btn-default btn-xs" title="Remove from list" ng-click="removeFromArray(assets,asset)">X</button></td>
                  </tr>
                </tbody>
              </table>

              <p class="showing-{{(searchTxt != '' && searchedAssets.length == 0)}}"><span class="bold">HINT</span>: clear the search filter (there are still <span class="bold">{{assets.length}}</span> assets in the table)</p>
          </div>

        </div> <!-- end #asset-selection -->
    </div><!-- end #wrapper -->

<!-- 
********************************************************************
************************* FOOTER ********************************
********************************************************************
 -->

    <div id="footer-panel" class="down-{{cpanel.showing}} selected-{{cpanel.tabSelected}}">
      <div id="slide-button" class="footer-tab-button" ng-click="cpanel.showHide()">^</div>
      <div class="footer-tab-button active-{{cpanel.tabStatuses[1]}}" ng-click="cpanel.changeTab(1)">Create</div>
      <div class="footer-tab-button active-{{cpanel.tabStatuses[2]}}" ng-click="cpanel.changeTab(2)">Load Assets</div>
      <div class="footer-tab-button active-{{cpanel.tabStatuses[3]}}" ng-click="cpanel.changeTab(3)">Reporting</div>
      <div class="footer-tab-button active-{{cpanel.tabStatuses[4]}}" ng-click="cpanel.changeTab(4)">Execute</div>
      <div class="footer-tab-button active-{{cpanel.tabStatuses[5]}}" ng-click="cpanel.changeTab(5)">Config</div>

      <div id="tab-1-content" class="footer-panel-content active-{{cpanel.tabStatuses[1]}}">
          <div class="inner-tab-buttons">
            <div class="footer-inner-tab-button active-{{cpanel.innerTabStatuses[1][1]}}" ng-click="cpanel.changeTab(1,1)">Bulk Create</div>
            <div class="footer-inner-tab-button active-{{cpanel.innerTabStatuses[1][2]}}" ng-click="cpanel.changeTab(1,2)">Structure Create</div>
            <div class="footer-inner-tab-button active-{{cpanel.innerTabStatuses[1][3]}}" ng-click="cpanel.changeTab(1,3)">IA Convert</div>
          </div>

          <div class="inner-tab-contents">
            <div class="inner-tab-content active-{{cpanel.innerTabStatuses[1][1]}}" >
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="createTypeCodeSelected">Asset Type</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="createTypeCodeSelected" ng-model="createTypeCodeSelected" ng-options="code.name for code in loadAssetsTypeCodes | orderBy:'name'"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="parentAssetId">Extra attribute</label>
                  <div class="col-sm-8">
                    <input style="display:inline;" name="createAddField" type="checkbox" ng-model="createAddField" /> 
                    <span class="showing-inline-{{createAddField}}">Field: <input class="form-control" style="width:100px;display:inline;" name="createExtraAttField" type="text" ng-model="createExtraAttField" /> </span>
                    <span class="showing-inline-{{createAddField}}">Val: <input class="form-control" style="width:100px;display:inline;" name="createExtraAttValue" type="text" ng-model="createExtraAttValue" /></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="parentAssetId">Parent Asset Id</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="parentAssetId" type="text" ng-model="parentAssetId" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Create Type</label>
                  <div class="col-sm-8">

                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="createType" value="CSV" checked> CSV
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="createType" value="normal"> Normal
                      </label>
                    </div>          
                  </div>
                </div>            

                <div class="showing-block-{{createType == 'normal'}}">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="createNumberOfAssets">Number of assets to create</label>
                    <div class="col-sm-8">
                      <input class="form-control" name="createNumberOfAssets" type="text" ng-model="createNumberOfAssets" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="createName">Asset name</label>
                    <div class="col-sm-8">
                      <input class="form-control" name="createName" type="text" ng-model="createName" />
                    </div>
                  </div>
                </div>

                <div class="showing-block-{{createType == 'CSV'}}">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="createNameCSV">Names CSV <br><span class="showing-{{createNameCSV != ''}}">({{createNameCSV.split(',').length}} names)</span></label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="createNameCSV" id="" rows="6" ng-model="createNameCSV" placeholder="E.g. Development types,Related links,Development categories,Exempt development,Complying development...."></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3 control-label">                
                  </div>
                  <div class="col-sm-8">
                    <button class="btn btn-primary btn-lg" ng-click="createAssets()">Create assets</button>  
                    <input type="checkbox" ng-model="createAssetsLoadAfter"> Load after created

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="createBatchFunctionsTest"> <span class="bold">Test</span> (See prepared batch functions first)
                      </label>
                    </div>

                  </div>
                  
                </div>
              </form>
            </div> <!-- end .inner-tab-content -->

            <div class="inner-tab-content active-{{cpanel.innerTabStatuses[1][2]}}" >
              <div class="col-sm-8">
                <form role="form">
                  <div class="form-group">
                    <label for="structureCreateTxtRoot">Parent Asset Id
                      <input type="text" id="structureCreateTxtRoot" class="form-control" ng-model="structureCreateTxtRoot" />
                    </label>
                  </div> 

                  <div class="form-group">
                    <div class="right" style="text-align:right;">
                    Divider <input style="display:inline;width:20px;" type="text" ng-model="structureCreateDivider">
                    </div>                    
                    <label for="structureCreateTxtCsv">Structure CSV</label>
                    <textarea wrap="off" id="structureCreateTxtCsv" class="form-control" rows="7" ng-model="structureCreateTxtCsv" ng-change="structureCreateReady = false"></textarea>
                  </div> 
                  <div class="form-group">
                    <label for="structureCreateTxtCsv">Available Asset Types</label>
                    <select id="structureCreateTxtCsv" class="form-control">
                      <option ng-repeat="code in loadAssetsTypeCodes | orderBy:'name'" value="{{code.id}}" >{{code.name}} ({{code.id}})</option>
                    </select>
                  </div>                   
                  <button type="submit" ng-click="structureCreateBtnCheck()" class="btn btn-primary btn-lg">Check CSV</button>
                  <button type="submit" ng-click="structureCreateBtnCreate()" class="btn btn-primary btn-lg showing-{{structureCreateReady}}">Create structure</button>
                </form> 
              </div>              

              <div class="col-sm-4 showing-{{structureCreateReady}}">
                <h4>Good to go!</h4>
                <ul>
                  <li ng-if="key != 'total'" ng-repeat="(key,val) in structureCreateCounts"><strong>{{key}}</strong> x {{val}}</li>
                </ul>
                <p>Total: <strong>{{structureCreateCounts.total}}</strong> assets to be made</p>
              </div>

            </div>

            <div class="inner-tab-content active-{{cpanel.innerTabStatuses[1][3]}}">
              <div class="col-sm-13">
                <form role="form">
                  <div class="form-group">
                    <label for="asset-ids">CSV</label>
                    <textarea wrap="off" class="form-control" rows="10" ng-model="iaTxtCsv" placeholder="Client page structure CSV.... e.g. Home <br/> Test">
                    </textarea>
                  </div> 
                  <button type="submit" ng-click="iaBtnConvert()" class="btn btn-primary btn-lg">Convert</button>
                </form> 
              </div>
            </div>

          </div> <!-- end .inner-tabs -->
      </div>

      <div id="tab-2-content" class="footer-panel-content active-{{cpanel.tabStatuses[2]}}">

        <div class="col-sm-7">

          <form role="form">
            <div class="form-group">
              <label for="asset-ids">Asset Ids</label>
              <textarea id="asset-ids" class="form-control" rows="13" ng-model="loadAssetIdsString" placeholder="A csv of asset ids please... e.g. 34567,8765,73738,94949...." ></textarea>
              Cascade <input type="checkbox" ng-model="loadAssetsCascade">  
              <span class="include-roots showing-{{loadAssetsCascade}}">
                Levels <input style="width:15px;" type="text" ng-model="loadAssetsLevels" title="How far down into the tree you want to load (0 for infinite)">  
                Include roots <input type="checkbox" ng-model="loadAssetsIncludeRoots">   
                Limit types<input type="checkbox" ng-model="loadAssetsTypeCodesEnabled">
              </span>
            </div>
            <button type="submit" ng-click="getData()" class="btn btn-primary btn-lg">Load assets</button>
            <input type="checkbox" ng-model="loadAssetMetadata"> Load metadata
          </form>
        </div>

        <div class="col-sm-5">
          <form class="showing-{{loadAssetsTypeCodesEnabled}} showing-{{loadAssetsCascade}}" role="form">
            <div class="form-group">
              <label for="loadAssetsTypeCodesSelected">Limited asset type codes:</label>
              <select id="type-codes-selected" class="form-control" name="loadAssetsTypeCodesSelected" multiple="multiple" ng-model="loadAssetsTypeCodesSelected" ng-options="code.name for code in loadAssetsTypeCodes | orderBy:'name'" size="15"></select><br>
              <span class="bold" ng-repeat="code in loadAssetsTypeCodesSelected">{{code.name}}, </span>
            </div>
          </form>  
        </div>        
      </div>

      <div id="tab-3-content" class="footer-panel-content active-{{cpanel.tabStatuses[3]}}">

        <div class="col-sm-12">
          <form role="form">
            <div id="message" class="form-group has-{{messageType}}">
              <label class="control-label" for="message">{{messageTitle}}</label>
              <textarea type="text" class="form-control" id="message" rows="13">{{messageContent | prettifyJson}}</textarea>
            </div>
          </form>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="col-sm-10">
          <form class="form-inline" role="form">
            <div class="form-group">
              <button class="btn btn-primary btn-lg" ng-click="getCSV()">Get CSV</button>
              <input id="csv-divider" name="csv-divider" title="The divider that will separate the values in the CSV (',' or ';' or 'tab' etc.)" type="text" class="form-control" ng-model="csvDivider" ng-change="getCSV()"/> <label for="csv-divider" title="The divider that will separate the values in the CSV (',' or ';' or 'tab' etc.)">divider</label>&nbsp;
              <div class="radio">
                <label>
                  <input type="radio" title="Vertically oriented CSV (normal)" ng-model="csvType" value="vertical" ng-change="getCSV()"> Vertical
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" title="Horizontally oriented CSV" ng-model="csvType" value="horizontal" ng-change="getCSV()"> Horizontal
                </label>
              </div>      

              <br><br>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="csvSelectedRadio" value="selected"> <span class="bold">Selected</span> assets (<span class="bold">{{assetsSelected.length}}</span>)
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="csvSelectedRadio" value="all"> <span class="bold">All</span> assets (<span class="bold">{{assets.length}}</span>)
                </label>
              </div>  
            </div>  
          </form>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default" ng-click="messageClear()">Clear box</button>
        </div>

      </div>    

      <!-- *************************** TAB 4 -->


      <div id="tab-4-content" class="footer-panel-content active-{{cpanel.tabStatuses[4]}}">
          <div class="inner-tab-buttons">
            <div class="footer-inner-tab-button active-{{cpanel.innerTabStatuses[4][1]}}" ng-click="cpanel.changeTab(4,1)">Function</div>
            <div class="footer-inner-tab-button active-{{cpanel.innerTabStatuses[4][2]}}" ng-click="cpanel.changeTab(4,2)">Bulk CSV Change</div>
          </div>

          <div class="inner-tab-contents">
            <div class="inner-tab-content active-{{cpanel.innerTabStatuses[4][1]}}" >        
              <div class="col-sm-3">

                <form role="form">
                  <div class="form-group">
                    <label for="selectedAction">Function</label>
                    <select class="form-control" name="selectedAction" ng-model="selectedAction" ng-options="action.name for action in actionsList | orderBy:'name' | filter:{disabled:false}" ng-disabled="action.disabled" ng-change="selectedActionChanged()"></select>
                    <br>
                  </div>

                  <div class="disabled-{{selectedAction.assetVarName == null}}">
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="executeSelectedRadio" value="selected" ng-disabled="selectedAction.assetVarName == null"> <span class="bold">Selected</span> assets only <br/>
                        (<span class="bold">{{assetsSelected.length}}</span> assets)
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="executeSelectedRadio" value="all" ng-disabled="selectedAction.assetVarName == null"> <span class="bold">All</span> assets in table  <br/>
                        (<span class="bold">{{assets.length}}</span> assets)
                      </label>
                    </div>  
                  </div>

                  <button type="submit" class="btn btn-primary" ng-click="executeActions()">Execute</button> 
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="actionsBatchFunctionsTest"> <span class="bold">Test</span> (See prepared batch functions first)
                    </label>
                  </div>
                  
                </form>
              </div>

              <div class="col-sm-9 showing-{{selectedAction != null}}">

                  <p ng-if="selectedAction.assetVarName == null">No vars can be set for this function. Just execute.</p>

                  <table class="action-fields showing-inline-{{selectedAction.assetVarName != null}}">
                    <thead>
                      <th class="field" title="Name of the field">Field</th>
                      <th class="set" title="Weather or not to set a value to this field, some fields are required to be set">Set</th>
                      <th class="set" title="Weather or not it is a CSV field. When checked, you must put in a CSV of values of the same quantity as there are assets being actioned">CSV</th>
                      <th class="value" title="The value that will be set to the field (single value/CSV)">Value</th>
                      <th class="desc" title="More info on this field">Description</th>
                    </thead>
                    <tr class="action-var data-from-{{var.dataFrom}}" ng-repeat="var in selectedAction.vars" title="">
                      <td title="{{var.name}}"><span class="required" ng-if="var.required">*</span>{{var.name}}</td>
                      <td title="Set value for {{var.name}}"><input type="checkbox" ng-model="var.set" ng-disabled="var.requiredSet"/></td>
                      <td title="Input type for {{var.name}}"><input type="checkbox" ng-model="var.csv" ng-disabled="(selectedAction.assetVarName == null || !var.set || (var.type != 'string' && var.type != 'integer'))"/></td>
                      <td>
                        <div class="has-error-{{(var.required && var.val =='') || (var.csv && executeSelectedRadio == 'selected' && var.val.split(',').length != assetsSelected.length) || (var.csv && executeSelectedRadio == 'all' && var.val.split(',').length != assets.length)}}">
                          <input class="form-control showing-block-{{(var.type == 'string' || var.type == 'integer' || var.type == 'json object' || var.type == 'array')}} " type="text" ng-model="var.val" placeholder="{{var.example}}" ng-disabled="!var.set"/>
                        </div>
                        <select class="form-control showing-block-{{var.type == 'boolean'}}" type="checkbox" ng-model="var.val" ng-disabled="!var.set">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                        </select>
                        <select class="form-control showing-block-{{var.type == 'select'}}" ng-model="var.val" ng-disabled="!var.set">
                          <option ng-repeat="option in var.ops" value="{{option[var.opsKey]}}" >{{option[var.opsName]}} ({{option[var.opsKey]}})</option>
                          <option ng-if="selectedAction.funcName == 'setMetadata' && var.ops.length == 0" value="" >No metadata fields, please load some assets.</option>
                        </select>
                      </td>
                      <td title="{{var.note}}">
                        (<span class="bold">{{var.type}}</span>) {{var.note | limitTo:70}}<span class="showing-inline-{{var.note.length > 70}}">...</span> <span class="bold showing-{{var.csv}}">({{var.val.split(',').length}} values)</span>
                      </td>
                    </tr>
                    <tr class="action-var">
                      <td>Blocking</td>
                      <td><input type="checkbox" ng-model="selectedAction.blocking"> </td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="action-var">
                      <td>Available keywords</td>
                      <td colspan="4">
                        <select name="" class="form-control">
                          <option value="x">-- Have a look --</option>
                          <optgroup label="Special keywords">
                            <option value="index" >%index% -> 1...2...3...4</option>
                            <option value="randomnumber" >%randomnumber:1:100:ddd% -> 001 009 003 100 099</option>
                          </optgroup>
                          <optgroup label="Keyword modifiers">
                            <option value="replace" >%name^replace:John:JOHN% -> John Smith -> JOHN Smith</option>
                          </optgroup>
                          <optgroup label="Attributes and metadata">
                            <option value="field.id" ng-repeat="field in fields">{{field | metadataFieldNameFormat}} - %{{field | metadataFieldIdFormat}}% </option>
                          </optgroup>
                        </select>
                      </td>
                    </tr>
                  </table>
                
              </div>

            </div><!-- end inner tab 1 -->


            <div class="inner-tab-content active-{{cpanel.innerTabStatuses[4][2]}}" >
              <div class="col-sm-6">
                <div class="right" style="text-align:right;">
                Divider <input style="display:inline;width:20px;" type="text" ng-model="csvChangeDivider">
                </div>

                <form role="form">
                  <div class="form-group">
                    <label for="asset-ids">CSV</label>
                    <textarea class="form-control" rows="10" ng-model="csvChangeTxtCsv" ng-change="csvChangeChangesChecked = false" placeholder="Please enter your CSV of all the data you would like saved">
                    </textarea>
                  </div> 
                  <button type="submit" ng-click="csvChangeBtnCheckForChanges()" class="btn btn-default">Check for changes</button>&nbsp;
                  <span class="showing-{{csvChangeAssetsLoaded}}" title="Reload data from Matrix for all the CSVs asset ids"><input type="checkbox" ng-model="csvChangeReload"> Reload</span>
                  <br><br>
                  <div class="showing-{{csvChangeChanges.length > 0}}">

                    <button type="submit" ng-click="csvChangeBtnExecuteChanges()" class="btn btn-primary btn-lg" ng-disabled="!csvChangeChangesChecked">Make changes</button> 
                    <input type="checkbox" ng-model="csvChangeChkBatchFunctionsTest"> <span class="bold">Test</span> (See prepared batch functions first)

                  </div>
                </form>
                  Available keywords 
                  <select name="" class="form-control">
                    <option value="x">-- Have a look --</option>
                    <optgroup label="Special keywords">
                      <option value="index" >%index% -> 1...2...3...4</option>
                      <option value="randomnumber" >%randomnumber:1:100:ddd% -> 001 009 003 100 099</option>
                    </optgroup>
                    <optgroup label="Keyword modifiers">
                      <option value="replace" >%name^replace:John:JOHN% -> John Smith -> JOHN Smith</option>
                    </optgroup>
                    <optgroup label="Attributes and metadata">
                      <option value="field.id" ng-repeat="field in fields">{{field | metadataFieldNameFormat}} - %{{field | metadataFieldIdFormat}}% </option>
                    </optgroup>
                  </select>                
              </div>
              <div class="col-sm-6 showing-{{csvChangeAssetsLoaded}}">
                <p class="bold">Changes to be made (<strong>{{csvChangeChanges.length}}</strong>)...</p>

                <div style="overflow: scroll; max-height: 410px;">
                  <table style="width:100%;" class="showing-{{csvChangeChanges.length > 0}} table table-bordered table-striped table-hover table-condensed">
                    <thead>
                      <tr>
                        <th>Asset</th>
                        <th>Field</th>
                        <th>From</th>
                        <th>To</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="change in csvChangeChanges">
                        <td>{{change.id}}</td>
                        <td>{{change.field}}</td>
                        <td title="{{change.from}}">{{change.from | limitTo:10 }}...</td>
                        <td title="{{change.to}}">{{change.to | limitTo:10 }}...</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="showing-{{csvChangeChanges.length == 0}}">None</p>
                </div>
                <p style="text-align: right;color: #999;">(Scrollbox)</p>
                
                <p><strong>NOTE</strong>: Hover on <strong>From</strong> and <strong>To</strong> values to see whole value</p>

              </div>
            </div>

          </div><!-- end tab contents -->

      </div> <!-- end tab 4 -->


      <div id="tab-5-content" class="footer-panel-content active-{{cpanel.tabStatuses[5]}}">

        <div class="col-sm-4">
          <form class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-5" for="chunkType">chunkType</label>
                <div class="col-sm-7">
                  <select id="chunkType" type="text" ng-model="chunkType">
                    <option value="flexible">Flexible</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
            </div>            
            <div class="form-group">
                <label class="col-sm-5" for="chunkAmount">Chunk size</label>
                <div class="col-sm-7">
                  <input id="chunkAmount" class="form-control" type="text" ng-model="chunkManualAmount" ng-disabled="chunkType != 'manual'"> 
                  <br>(How many functions will be executed at once)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5" for="chunkFlexibleDivisionAmount">Chunk Division Amount</label>
                <div class="col-sm-7">
                  <input id="chunkFlexibleDivisionAmount" class="form-control" type="text" ng-model="chunkFlexibleDivisionAmount" ng-disabled="
                chunkType != 'flexible'"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5" for="chunkFlexibleMin">Chunk Min</label>
                <div class="col-sm-7">
                  <input id="chunkFlexibleMin" class="form-control" type="text" ng-model="chunkFlexibleMin" ng-disabled="chunkType != 'flexible'"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5" for="chunkFlexibleMax">Chunk Max</label>
                <div class="col-sm-7">
                  <input id="chunkFlexibleMax" class="form-control" type="text" ng-model="chunkFlexibleMax" ng-disabled="chunkType != 'flexible'"/>
                </div>
            </div>
          </form>
        </div>

        <div class="col-sm-4">
          <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5" for="chunkType">Reverse asset create order</label>
                <div class="col-sm-7">
                  <input type="checkbox" ng-model="createFunctionsReversed"/>
                  So that the assets appear in the correct order in the tree -&gt; Asset 1, Asset 2 etc.
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3" for="apiKey">Fav. asset types (<span>{{loadAssetsTypeCodes.length}} selected</span>)</label>
                <div class="col-sm-9">
                  <select class="form-control" multiple="multiple" size="10" ng-model="loadAssetsTypeCodes" ng-options="code.id for code in loadAssetsTypeCodesAll | orderBy:'id'"></select>
                </div>
            </div>


          </form>          
        </div>

        <div class="col-sm-4">
        </div>

      </div>    <!-- end tab 5 -->
    </div><!-- end #footer panel -->

<!-- 
********************************************************************
*************************** OVERLAY ********************************
********************************************************************
 -->

    <div id="overlay">

      <div id="overlay-box"></div>

      <div id="loading-box">
        <div class="spinner loading-icon" aria-hidden="true"></div>
        <div class="loading-text">{{loadingText}}</div>
        <p>&nbsp;</p>
        <p class="loader-text showing-block-{{loaderOne.showing}}">{{loaderOne.text}}</p>
        <div id="progress-bar1" class="progress-bar showing-block-{{loaderOne.showing}}">
            <span style="width: {{(loaderOne.current/loaderOne.total)*100}}%;"></span>
        </div>
        <p>&nbsp;</p>
        <p class="loader-text showing-block-{{loaderTwo.showing}}">{{loaderTwo.text}}</p>
        <div id="progress-bar2" class="progress-bar showing-block-{{loaderTwo.showing}}">
            <span style="width: {{(loaderTwo.current/loaderTwo.total)*100}}%;"></span>
        </div>
      </div>

    </div>
